* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    
    padding: 20px 0;
    overflow: hidden;
    background-color: rgb(30, 30, 30);
}

#image-grid {
    width: 100%;
    height: 100%;
    white-space: nowrap;

    transition: 0.5s;
}

.page {
    display: inline-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

    width: 100%;
    height: 100%;
}

.page > .item {
    background-position: center;
    background-size: cover;
    background-image: url("https://th.bing.com/th/id/OIP.U1q1EABXSd-k7S0RDN1mNQHaLS?pid=ImgDet&rs=1");
    filter: grayscale(0.9);
    
    cursor: pointer;
    transition: scale .3s, filter .8s;

    -webkit-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.5);
    box-shadow: 0px 4px 10px -3px rgba(0,0,0,0.5);
}

.page > .item:hover {
    scale: 1.08;
    filter: grayscale(0.0);
    z-index: 10;
}

#page-counter {
    display: flex;
    width: 100vw;
    height: 20px;
    justify-content: center;
}

#page-counter > .selector {
    font-size: 3rem;
    line-height: 2.5rem;
    color: dimgray;

    cursor: pointer;
    transition: .3s;
    user-select: none;
}

#page-counter > .selector:hover {
    opacity: 0.8;
    scale: 1.1;
}

#page-counter > .selector.selected {
    font-weight: bold;
    color: white;
    
    font-size: 4rem;
}